In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import plotly.express as px
import plotly.graph_objects as go
from datetime import datetime
import numpy as np
import missingno as msno
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")

sns.set(rc={'figure.figsize':(15,8)})

path_to_catalog=r'C:\Users\kgrzebien\Desktop\python_tasks\kupony\fast_kpi\\'

In [22]:
def func_name_workers_filia(list_of_workers,
                            name_of_file_with_workers):
    
    df=pd.read_excel(name_of_file_with_workers)
    df=df.rename(columns={'PELNANAZWA':'pracownik_nazwisko',
                         'NUMER':'KOD_OPER'})
    df['pracownik_nazwisko']=df['pracownik_nazwisko'].apply(lambda x: x.split(' ')[0]+'. '+x.split(' ')[1] if len(x.split(' '))>1 else x)
    if type(list_of_workers[0])==type(0):
        df=df.loc[df['pracownik_nazwisko'].isin(list_of_workers)]
    else:
        df=df.loc[df['KOD_OPER'].isin(list_of_workers)]
    return df.reset_index().drop('index', axis=1)

In [5]:
def func_read_data(path, jaki_dokument):
    df=pd.read_csv('../magazynierzy/'+path+'.csv',
              encoding='Cp1250',
              sep="|")
    df['jaki_doument']=jaki_dokument
    return df

In [12]:
df_lkw=func_read_data('dokumenty_LKW', 'LKW')
df_f60lkw=func_read_data('dokumenty_F60LKW', 'F60LKW')
df_f60lkr=func_read_data('dokumenty_F60LKR', 'F60LKR')
df_f60lkp=func_read_data('dokumenty_F60LKP', 'F60LKP')

In [28]:
df_f60lkw['KOD_MAGAZ_2'].unique()

array([655,   0, 665, 688, 642, 602, 499], dtype=int64)

In [23]:
_=df_lkw.groupby('KOD_OPER').agg({'NR_DOKUM':'nunique'}).sort_values(by='NR_DOKUM').reset_index()
_=_.merge(func_name_workers_filia(_['KOD_OPER'].unique(),
                                  '../../pracownicy.xlsx'),
          how='left',
          on='KOD_OPER')
_

    KOD_OPER  NR_DOKUM   pracownik_nazwisko
0       1852         1    KAROL. GRZYBOWSKI
1        196         3    MARCIN. MIESZCZAK
2       1145         4      PAWEŁ. MIKOCIAK
3       1427         6   GRZEGORZ. HOWANIEC
4          0         7             NIEZNANY
5       1237        13          KAROL. OŻGA
6       1126        20     MICHAŁ. ŻUKOWSKI
7        896        36  DARIUSZ. CIEŚLAWSKI
8       2042        58     ADRIAN. KASTELIK
9       2053       119       PIOTR. PUCHACZ
10      2076       235        MATEUSZ. PTAK

In [24]:
_=df_f60lkw.groupby('KOD_OPER').agg({'NR_DOKUM':'nunique'}).sort_values(by='NR_DOKUM').reset_index()
_=_.merge(func_name_workers_filia(_['KOD_OPER'].unique(),
                                  '../../pracownicy.xlsx'),
          how='left',
          on='KOD_OPER')
_

    KOD_OPER  NR_DOKUM        pracownik_nazwisko
0       9999         1             ADMINISTRATOR
1        584         2          RENATA. KASPEREK
2        340         4              ANNA. BUŁAWA
3        896         7       DARIUSZ. CIEŚLAWSKI
4        152         7             BOŻENA. DURAJ
5        461        11            JOLANTA. SEMIK
6       1126        12          MICHAŁ. ŻUKOWSKI
7       1145        14           PAWEŁ. MIKOCIAK
8        139        19        EWELINA. MAJCHEREK
9        196        23         MARCIN. MIESZCZAK
10       228        29         GABRIELA. ŁUKAŃKO
11      1902        30             SYLWIA. KARCZ
12       349        34              ANNA. SAPETA
13      1237        37               KAROL. OŻGA
14       508        40        MAGDALENA. SANETRA
15       248        55      MAŁGORZATA. ADAMCZYK
16      1688        56            SYLWIA. KAPAŁA
17      1427        60        GRZEGORZ. HOWANIEC
18      1428        63             JOANNA. GOWIN
19      1958        64         GABRIELA. PIERLAK
20      1931        75                 EWA. PALA
21       521        90         MAŁGORZATA. ZEMAN
22      1918        98          EWELINA. STASICA
23       438       108             IZABELA. LACH
24      1722       109               ANNA. KRZAK
25      1841       115  AGNIESZKA. KOSIEC-HAZUKA
26       276       116             SABINA. WISŁA
27      1461       118           ANNA. SZYMAŃSKA
28       345       122         KATARZYNA. RYPIEŃ
29       507       128         MAGDALENA. PYDYCH
30      1706       131   ELŻBIETA. MIKUSZEK-CZUL
31      1938       138          PATRYCJA. WIDUCH
32       954       138             MONIKA. GÓRNY
33       227       140          MARTYNA. SKOCZEŃ
34       322       143       AGNIESZKA. OKRZESIK
35       956       153           SYLWIA. NISZWIC
36       229       202          ŻANETA. BARABASZ
37      8888       209                   AUTOMAT
38        84       235            ANNA. TOMASZEK
39      1699       237           ZUZANNA. LEJAWA

In [25]:
_=df_f60lkr.groupby('KOD_OPER').agg({'NR_DOKUM':'nunique'}).sort_values(by='NR_DOKUM').reset_index()
_=_.merge(func_name_workers_filia(_['KOD_OPER'].unique(),
                                  '../../pracownicy.xlsx'),
          how='left',
          on='KOD_OPER')
_

    KOD_OPER  NR_DOKUM        pracownik_nazwisko
0          5         1      TADEUSZ. SZCZEPAŃSKI
1       1711         1         KRZYSZTOF. TOMIAK
2        360         1           BARBARA. SKRZYP
3       1688         3            SYLWIA. KAPAŁA
4       1931         3                 EWA. PALA
5       1902         3             SYLWIA. KARCZ
6        508         4        MAGDALENA. SANETRA
7        349         4              ANNA. SAPETA
8       1852         6         KAROL. GRZYBOWSKI
9       2076         6             MATEUSZ. PTAK
10       228         7         GABRIELA. ŁUKAŃKO
11       139         8        EWELINA. MAJCHEREK
12       248         8      MAŁGORZATA. ADAMCZYK
13      1918         9          EWELINA. STASICA
14      1461         9           ANNA. SZYMAŃSKA
15      1841        10  AGNIESZKA. KOSIEC-HAZUKA
16       521        12         MAŁGORZATA. ZEMAN
17      1706        14   ELŻBIETA. MIKUSZEK-CZUL
18      1958        14         GABRIELA. PIERLAK
19       276        15             SABINA. WISŁA
20       227        15          MARTYNA. SKOCZEŃ
21       152        16             BOŻENA. DURAJ
22       956        19           SYLWIA. NISZWIC
23      1938        19          PATRYCJA. WIDUCH
24      1428        20             JOANNA. GOWIN
25       322        21       AGNIESZKA. OKRZESIK
26       954        26             MONIKA. GÓRNY
27       461        26            JOLANTA. SEMIK
28      1699        26           ZUZANNA. LEJAWA
29        84        28            ANNA. TOMASZEK
30       584        29          RENATA. KASPEREK
31      1722        29               ANNA. KRZAK
32       345        29         KATARZYNA. RYPIEŃ
33       507        31         MAGDALENA. PYDYCH
34       438        31             IZABELA. LACH
35       229        33          ŻANETA. BARABASZ
36       196        45         MARCIN. MIESZCZAK
37      2053        46            PIOTR. PUCHACZ
38       340        48              ANNA. BUŁAWA
39         0        53                  NIEZNANY
40      2042        60          ADRIAN. KASTELIK
41      1126        64          MICHAŁ. ŻUKOWSKI
42      1237        65               KAROL. OŻGA
43       896        67       DARIUSZ. CIEŚLAWSKI
44      1427        68        GRZEGORZ. HOWANIEC

In [26]:
_=df_f60lkp.groupby('KOD_OPER').agg({'NR_DOKUM':'nunique'}).sort_values(by='NR_DOKUM').reset_index()
_=_.merge(func_name_workers_filia(_['KOD_OPER'].unique(),
                                  '../../pracownicy.xlsx'),
          how='left',
          on='KOD_OPER')
_

    KOD_OPER  NR_DOKUM  pracownik_nazwisko
0        199         2       MARIA. PIĄTEK
1       1126         2    MICHAŁ. ŻUKOWSKI
2       2053         2      PIOTR. PUCHACZ
3        152         6       BOŻENA. DURAJ
4        196         6   MARCIN. MIESZCZAK
5        461         7      JOLANTA. SEMIK
6       1145        26     PAWEŁ. MIKOCIAK
7        340        55        ANNA. BUŁAWA
8       1237        83         KAROL. OŻGA
9        584        95    RENATA. KASPEREK
10      1427       253  GRZEGORZ. HOWANIEC